* {
  color: var(--green-dark);
}

.upperSection {
  background-color: var(--green-light);
  height: 21vh;
  margin-top: 3%;
  padding-top: 90px;
}

.upperSection > p {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0;
}

.upperSection > h1 {
  color: var(--text-color);
  font-size: 3rem;
  line-height: 4rem;
  margin: 1%;
}

.RSVP {
  background-color: var(--blue-light);
  color: var(--text-color);
  width: 10%;
  margin: 2% auto 3% auto;
  font-size: 1em;
  padding: 5px;
  display: block;
}

.RSPV2 {
  background-color: var(--blue-light);
  color: var(--text-color);
  width: 100%;
  margin: 2% auto 0 auto;
  font-size: 1rem;
  padding: 5px;
}

.event-details {
  background-color: var(--green-light);
}

h2 {
  font-weight: lighter;
  margin: 1%;
  margin-top: 0;
}

.event-details-container {
  padding-top: 2%;
  background-color: var(--purple);
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.time-location {
  padding: 2%;
}

.about-the-event {
  padding: 2%;
}

.map {
  width: 90%;
  margin-top: 5%;
  margin-bottom: 3%;
  height: 45vh;
}
